<%- include('./layouts/header') %>

<h1 style="margin-left: 40%;">Role Based Access Control</h1>
<div style="margin-left: 40%;">
<ul>
    <li>Express JS</li>
    <li>EJS templating engine</li>
    <li>Styling- Custom css, Bootstrap 4</li>
    <li>PassprtJS local authentication(email and password)</li>
    <li>Roles(Admin, client)</li>
    <li>Authorization(Admin and userRoutes</li>
    <li>Mongoose for MongoDB</li>
    <li>Express Sessions</li>
    <li>Persist Login after server reboot using mongo store</li>
    <li>Redirect to same page after login</li>
    <li>Validating user input at server side</li>
    <li>Flash messages</li>
</ul>
</div>

<%- include('./layouts/footer') %> 