<%- include('./layouts/header') %>

<h1 class="title">Role Based Access Control</h1>
<div class="tutorial-info">
<ul>
    <li>list 1 item</li>
    <li>list 2 item</li>
    <li>list 3 item</li>
    <li>list 4 item</li>
    <li>list 5 item</li>
    <li>list 6 item</li>
    <li>list 7 item</li>
    <li>list 8 item</li>
    <li>list 9 item</li>
    <li>list 10 item</li>
    <li>list 11 item</li>
</ul>
</div>

<%- include('./layouts/footer') %> 