<%- include('./layouts/header') %>

<h1 style="margin-left: 40%;">Role Based Access Control</h1>
<div style="margin-left: 40%;">
<ul>
    <li>Employee1<br>
    id:202302<br>
    Designation: Sales<br>
    Contact: user1@company.com</li>
    <li>Employee2<br>
        id:202303<br>
        Designation: Manager<br>
        Contact: user2@company.com</li>
    <li>Employee3<br>
        id:202304<br>
        Designation: Sales<br>
        Contact: user3@company.com</li>
    <li>Employee4<br>
        id:202305<br>
        Designation: Sales<br>
        Contact: user4@company.com</li>
    <li>Employee5<br>
        id:202303<br>
        Designation: HR<br>
        Contact: hr@company.com</li>
</ul>
</div>

<%- include('./layouts/footer') %> 