<%- include('./layouts/header') %> 
<h1 style="width: 500px; margin: auto">Login</h1>
<form action="/auth/login" style="width: 500px; margin: auto; padding-top: 1em;" " method="post">
  <div class="form-group">
    <label for="email">Email/Username</label>
    <input type="email" name="email" id="email" class="form-control" placeholder="Email" />
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" name="password" id="password" class="form-control" placeholder="password" />
  </div>
  <div>
    <input type="submit" class="btn btn-primary" value="Login" />
  </div>
</form>

<div class="form-group" style="width: 500px; margin: auto; padding-top: 1em;">
  <p>
    Don't have an account? <span><a href="/auth/register">Register here</a></span>
  </p>
</div>
<br /> 

<%- include('./layouts/footer') %> 