<%- include ('layouts/header') %>
<h1 class="table">Manage Users</h1>

<table class="table">
  <thead>
    <th>id</th>
    <th>email</th>
    <th>role</th>
  </thead>
  <tbody>
    <% users.forEach(user => { %>
    <tr>
      <td><%= user.id %></td>
      <td><a href="/admin/user/<%= user.id %>"><%= user.email %></a></td>
      <td>
        <form
          action="/admin/update-role"
          method="post"
          class="manage-user-form"
        >
          <input type="hidden" name="id" value="<%= user.id %>" />
          <select name="role" id="role">
            <option value="ADMIN" <%= user.role === 'ADMIN' ? 'selected' : '' %> >Admin</option>
            <option value="CLIENT" <%= user.role === 'CLIENT' ? 'selected' : '' %>>Client</option>
          </select>
          <input type="submit" value="update">
        </form>
      </td>
    </tr>
    <% }) %>
  </tbody>
</table>

<%- include ('layouts/footer') %>